__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv/
env/
.hf/
vscode/
experiments/
benchmark/
images/
models/
semantic_diffusion/
*.pth
*.pt
*.env
*.png
*.jpg
misc/
dataset/
# text_ctrl/yolo_mscoco
mood_lens/dataset
mood_lens/inputs
mood_lens/output
mood_lens/ui
pipeline_relighting/image_cache
pipeline_relighting/normals_cache
pipeline_relighting/ui
pipelines/lama-inpainting/test_images
pipelines/lama-inpainting/test_images_output
pipelines/lama-inpainting/outputs
pipelines/hertzmark/data
text_ctrl/util/sam2.1_b.pt
text_ctrl/TextCtrl/demo
text_ctrl/TextCtrl/dump
text_ctrl/TextCtrl/example_result
text_ctrl/TextCtrl/weights

# text_morph/yolo_mscoco
text_morph_2/
mood_lens/dataset
mood_lens/inputs
mood_lens/output
mood_lens/ui
lightshift_remove/image_cache
lightshift_remove/normals_cache
lightshift_remove/ui
lama-inpainting/test_images
lama-inpainting/test_images_output
lama-inpainting/outputs
hertzmark/data
text_morph/util/sam2.1_b.pt
text_morph/TextCtrl/demo
text_morph/TextCtrl/dump
text_morph/TextCtrl/example_result
text_morph/TextCtrl/weights