__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv/
env/
.hf/
vscode/
experiments/
benchmark/
images/
models/
semantic_diffusion/
*.pth
*.pt
*.env
*.png
*.jpg
misc/
dataset/
text_ctrl/yolo_mscoco
pipeline_colour_correction/dataset
pipeline_colour_correction/inputs
pipeline_colour_correction/output
pipeline_colour_correction/ui
pipeline_relighting/image_cache
pipeline_relighting/normals_cache
pipeline_relighting/ui
pipelines/lama-inpainting/test_images
pipelines/lama-inpainting/test_images_output
pipelines/lama-inpainting/outputs
pipelines/hertzmark/data
text_ctrl/util/sam2.1_b.pt
text_ctrl/TextCtrl/demo
text_ctrl/TextCtrl/dump
text_ctrl/TextCtrl/example_result
text_ctrl/TextCtrl/weights